Q1. Create one variable containing following type of data
(1) String
(2) List
(3) Float
(4) Tuple

Ans. 
1. String

In [1]:
s='Create a string'

In [4]:
print(s)
type(s)

Create a string

str

2. List

In [5]:
l=[]

In [6]:
type(l)

list

In [7]:
l1=[1,4,5,'list',45.5,4+5j,True]

In [8]:
print(l1)
type(l1)

[1, 4, 5, 'list', 45.5, (4+5j), True]

list

3. Float

In [9]:
f=45.5

In [10]:
print(f)
type(f)

45.5

float

4. Tuple

In [11]:
t=()

In [12]:
type(t)

tuple

In [13]:
t1=(4,5,6,78,'tuple',45.5)

In [14]:
print(t1)
type(t1)

(4, 5, 6, 78, 'tuple', 45.5)

tuple

Q2. Given are some following variables containing data
(1) var1=''
(2) var2='[DS,ML,Python]'
(3) var3=['DS','ML','Python']
(4) var4= 1.

What will be the data type od the above given variable.

Ans.

In [7]:
#(1) var1='' => This data type is a string (str). 
var1=''  
type(var1)

str

In [3]:
#(2) var2='[DS,ML,Python]' => This data typeis a string(str)
var2='[DS,ML,Python]'
type(var2)

str

In [5]:
#(3) var3=['DS','ML','Python'] This data type is a List.
var3=['DS','ML','Python']
type(var3)

list

In [6]:
#(4) var4= 1. => This data type is a float.
var4= 1.
type(var4)

float

Q3. Explain the use of the following operators using an example.
(1) /
(2) %
(3) //
(4) **

Ans.

In [9]:
#(1) / (Division Operator):
#The division operator is used to divide the numbers. It returns a float number result.

a=45/2
print(a)

22.5

In [11]:
#(2) % (Modulus Operator)
#The modulus operator is used to find the remainder when numbers is divided.
b=45%2
print(b)

1

In [12]:
#(3) // (Floor Division Operator):
#The floor division operator is used to divide numbers and round down to the nearest whole number. It returns an integer result.
c=45//2
print(c)

22

In [13]:
#(4) ** (Exponentiation Operator):
#The exponentiation operator is used to raise a number to a certain power.
d=45**3
print(d)

91125

Q4. Create a list of length 10 of your choice containing multiple types of data . Using for loop print the element and its data type.

Ans.

In [16]:
l=[45,'hello',True,45.12,(4,5),{45,78},65,12.3,False,[45,12]]
for i in l:
    print(i,type(i))   
s=len(l)
print(s)

45 <class 'int'>
hello <class 'str'>
True <class 'bool'>
45.12 <class 'float'>
(4, 5) <class 'tuple'>
{45, 78} <class 'set'>
65 <class 'int'>
12.3 <class 'float'>
False <class 'bool'>
[45, 12] <class 'list'>
10

Q5. Using a while loop verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

Ans.

In [17]:
A=40
B=4
while A >=B:
    if A%B==0:
        A=A//B
    else:
        break
if A>0:
    print(A,'A is purely')
else:
    print('A is not purely')

10 A is purely

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

Ans.

In [2]:
l=[3,5,10,12,15,19,21,35,39,45,48,56,60,65,69,75,80,85,90,95,99,105,112,120,123]
for num in l:
    if num % 3==0:
        print(num,'is divisible by 3')
    else:
        print(num,'is not divisible by 3')

3 is divisible by 3
5 is not divisible by 3
10 is not divisible by 3
12 is divisible by 3
15 is divisible by 3
19 is not divisible by 3
21 is divisible by 3
35 is not divisible by 3
39 is divisible by 3
45 is divisible by 3
48 is divisible by 3
56 is not divisible by 3
60 is divisible by 3
65 is not divisible by 3
69 is divisible by 3
75 is divisible by 3
80 is not divisible by 3
85 is not divisible by 3
90 is divisible by 3
95 is not divisible by 3
99 is divisible by 3
105 is divisible by 3
112 is not divisible by 3
120 is divisible by 3
123 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Ans. Mutable data types => Mutable data types are types of data that can be modified after they are created. 
Mutable data types :- List, Sets, Dictionaries

In [3]:
#List data are modified after create.
l=[2,1,5,6]
l[1]=10
print(l)

[2, 10, 5, 6]

In [6]:
#Sets data are modified after create.
s={4,2,6,8}
s.add(12)
print(s)

{2, 4, 6, 8, 12}

In [7]:
#Dictionaries data are modified after create.
d={'name':'vikas','age':25}
d['add']='Hisar'
print(d)

{'name': 'vikas', 'age': 25, 'add': 'Hisar'}

Immutable data types => Immutable data types are types of data that cannot be changed or modified after they are created.
Immutable data types :- Integer, String, Tuples

In [10]:
x=5
print(x)
#This creates a new integer creatr not be changed.
x=40
print(x)

5
40

In [ ]:
#Cannot modify elements in the tuple, so it remains unchanged
t=(1,4,5,6)